.bitcoin-lookup {
    border-right: 2px solid #B6C6C6;
    width: 50%;
    padding: 24px;
    flex: 1; /* No grow, no shrink, basis of 50% */
    gap: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.bitcoin-lookup-prompt {
    color: var(--Dark-Teal-02, #001E20);

    /* Web/Sans/Large/Med */
    font-family: "DM Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
    letter-spacing: -0.1px;
}

.bitcoin-lookup-form {
    display: flex;
    /* height: 108px; */
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    align-self: flex-start;
    width: 100%;
}

.bitcoin-lookup-form > label {
    color: #001E20;

    /* Web/Mono/Copy/Med/Reg */
    font-family: "DM Mono";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
    text-transform: uppercase;
}

.bitcoin-lookup-form > input {
    height: 50px;
    border-radius: 4px;
    border: 1px solid #F0F1F1;
    background: #F0F1F1;
    align-self: stretch;
    color: var(--component-colors-fields-inp-drpd-srch-field-text-placeholder);
    font-family: "DM Sans";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 21.6px; /* 120% */
    letter-spacing: -0.09px;
    padding: 0 10px;
}

.bitcoin-lookup-info {
    margin-top: 5px;
}

.bitcoin-lookup-button-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: var(--spacing-lg);
}

.bitcoin-lookup-help-container {
    display: flex;
    align-items: center;
    gap: 8px;
}

.bitcoin-lookup-help-message {
    color: var(----dark-teal-05-main-new);
    font-family: "DM Mono";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px; /* 120% */
    margin: 0;
}

.bitcoin-lookup-help {
    height: 13px;
    width: 13px;
    cursor: pointer;
}

.bitcoin-lookup-button {
    width: 182px;
    height: 48px;
    padding: var(--spacing-lg) var(--spacing-7x1);
    color: var(--Component-colors-Buttons-Primary-button-primary-fg_disabled);
    /* Web/Mono/Copy/Large/Reg */
    font-family: "DM Mono";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 120% */
    background-color: var(--Component-colors-Buttons-Primary-button-primary-bg_disabled);
    border-radius: var(--radius-xs);
    border: none;
}

.bitcoin-lookup-button.valid {
    background-color: var(--Component-colors-Buttons-Primary-button-primary-bg);
    color: var(--Component-colors-Buttons-Primary-button-primary-fg);
    cursor: pointer;
}

.bitcoin-lookup-error {
    color: var(--component-colors-fields-inp-drpd-srch-field-icon-error);
    margin-top: 5px;
}