.holdings-header {
    border-radius: 4px 4px 0px 0px;
    border-bottom: 1px solid var(--Colors-Border-border-primary);
    background: var(--greyscale-02-lm);
    padding: 10px 14px;
}

.holdings-header > h2 {
    margin: 0;
    text-transform: uppercase;
}

.holdings {
    margin: 16px;
}